h1 My front-end playground

==slim :label_shows_up_when_placeholder_disappears

javascript:
  $(function() {
    $('a.source-code').click(function(){
      $(this).parent().children('.code').toggle()
    })
  });
