#percent-icon
  h3 
    span Percent icon
    a href='http://designbored.herokuapp.com/#percent-icon' [ Link ]
  p.description Icon with a cool outline that represents a percentage
  p.idea-from
    span This concept comes from 
    a href='http://www.pinterest.com/marcdivc/ui/' target='_blank' Check my Pinterest UI board

  h4 Demo
  .demo
    .container
      .separator
        input.percent-selector type='range' min='0' max='100' value='0'
        .cool-percent-icon
          .moar-outter-shadow
          .outer-shadow
          canvas width="100" height="100"
          .icon
            i.icon-dropbox

      .separator
        input.percent-selector type='range' min='0' max='100' value='0'
        .cool-percent-icon
          .moar-outter-shadow
          .outer-shadow
          canvas width="100" height="100"
          .icon
            span 0%

    javascript:
      function calculateAngle(percent){
        return (360*percent)/100
      }
      
      function calculateColor(percent){
        var r = Math.floor((255 * (100 -percent)) / 100),
            g = Math.floor((255 * percent) / 100),
            b = 0;

        return "rgb(" + r + "," + g + "," + b + ")"
      }

      $('.outer-shadow').click(function(e) {
        posX = $(this).offset().left, posY = $(this).offset().top;

        relX = (e.pageX - posX)
        relY = (e.pageY - posY)

        elementCenterX = $(this).width()/2
        elementCenterY = $(this).height()/2
        relCenterX = (-relX + elementCenterX);
        relCenterY = (-relY + elementCenterY);

        radiants = Math.atan2(relCenterX, relCenterY);

        angle = radiants * (180/Math.PI);
        processedAngle = 0;
        if(angle < 0){
          processedAngle = -angle;
        }else{
          processedAngle = 360-angle;
        }
        percent = parseInt((processedAngle/360)*100);

        selector = $(this)
        canvas = selector.next('canvas')[0]
        icon = selector.next().next('.icon').children('span')

        letsDraw(percent, canvas, icon)
      });
      
      $('.percent-selector').change(function(){
        selector = $(this)
        percent = selector.val()
        canvas = selector.next().children('canvas')[0]
        icon = selector.next().children('.icon').children('span')

        letsDraw(percent, canvas, icon)
      });
      
      function letsDraw(percent, canvas, icon){
        $(icon).text(percent + '%')

        context = canvas.getContext("2d");
        context.clearRect(0,0,400,400)
        drawSegment(canvas, context, calculateAngle(percent), calculateColor(percent));
      }

      function drawSegment(canvas, context, angle, color) {
        context.save();
        var centerX = Math.floor(canvas.width / 2);
        var centerY = Math.floor(canvas.height / 2);
        radius = Math.floor(canvas.width / 2);

        var startingAngle = degreesToRadians(-90);
        var arcSize = degreesToRadians(angle);
        var endingAngle = startingAngle + arcSize;

        context.beginPath();
        context.moveTo(centerX, centerY);
        context.arc(centerX, centerY, radius, 
                    startingAngle, endingAngle, false);
        context.closePath();

        context.fillStyle = color
        context.fill();

        context.restore();
      }
      
      function degreesToRadians(degrees) {
        return (degrees * Math.PI)/180;
      }

.source-code
  button class='source-code' View source code 
  span  or 
  a target='_blank' href='http://codepen.io/divins/pen/GIJal' play at CodePen ...
  .code
    .comments
    script src="https://gist.github.com/divins/7180445.js"
.references
  button class='code-references' Code references
  ul
    li
      a href='http://atomicnoggin.ca/blog/2013/01/26/css3-pie-charts-revisited/' http://atomicnoggin.ca/blog/2013/01/26/css3-pie-charts-revisited
    li
      a href='https://github.com/KrisOlszewski/donut-chart' https://github.com/KrisOlszewski/donut-chart
    li
      a href='http://wickedlysmart.com/how-to-make-a-pie-chart-with-html5s-canvas/' http://wickedlysmart.com/how-to-make-a-pie-chart-with-html5s-canvas/
    li
      a href='http://stackoverflow.com/questions/11849308/generate-colors-between-red-and-green-for-an-input-range' http://stackoverflow.com/questions/11849308/generate-colors-between-red-and-green-for-an-input-range
