html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font: 100% Arial, Helvetica, sans-serif;
  background: white;
  color: #0d0d0d;
  padding: 50px;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  color: orange;
  margin: 30px 0;
}

h3 {
  font-size: 1.3em;
  font-weight: bold;
}
h3 a {
  margin-left: 15px;
}

.snipet {
  margin: 50px 0;
  border: 1px solid #bbbbbb;
  padding: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

.idea-from {
  margin: 10px 0 20px 0;
  font-size: 12px;
  color: #333333;
}
.idea-from a {
  color: #4183c4;
  font-weight: bold;
}

p {
  margin: 10px 0 15px 0;
}

div.source-code {
  margin-top: 25px;
}
div.source-code a {
  color: #4183c4;
  font-weight: bold;
}
div.source-code .code {
  display: none;
  width: 80%;
  margin-top: 20px;
}

#label-shows-up-when-placeholder-disappears .input {
  position: relative;
}
#label-shows-up-when-placeholder-disappears .input label {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 11px;
}
#label-shows-up-when-placeholder-disappears .input label.filled {
  opacity: 1;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  top: -3px;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
}
#label-shows-up-when-placeholder-disappears .input input {
  border: 0;
  border-bottom: 1px solid #bbbbbb;
  outline: none;
  margin: 10px 0px;
  font-size: 15px;
}
#label-shows-up-when-placeholder-disappears .input input:focus + label {
  color: blue;
}
