html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font: 100% Arial, Helvetica, sans-serif;
  background: white;
  color: #0d0d0d;
  padding: 50px;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  color: orange;
  margin: 30px 0;
}

a {
  color: #4183c4;
  text-decoration: none;
}

p {
  margin: 10px 0 15px 0;
}

.snipet {
  margin: 50px 0;
  border: 1px solid #bbbbbb;
  padding: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.snipet h3 {
  font-size: 1.3em;
  font-weight: bold;
}
.snipet h3 a {
  margin-left: 15px;
}
.snipet h3 + p {
  margin-top: 5px;
}
.snipet h4 {
  font-weight: bold;
}
.snipet .idea-from {
  margin: 10px 0 20px 0;
  font-size: 12px;
  color: #333333;
}
.snipet .idea-from a {
  font-weight: bold;
}
.snipet div.source-code, .snipet .references {
  margin-top: 25px;
}
.snipet div.source-code .code, .snipet div.source-code ul, .snipet .references .code, .snipet .references ul {
  display: none;
  margin-top: 20px;
}
.snipet .references ul {
  margin: 0;
}
.snipet .references ul li {
  padding-left: 10px;
}
.snipet .references ul a {
  font-size: 12px;
}
.snipet .demo {
  position: relative;
  margin: 15px 0;
  padding-left: 35px;
}
.snipet h4, .snipet .description, .snipet .idea-from, .snipet .source-code, .snipet .references {
  padding-left: 15px;
}

#label-shows-up-when-placeholder-disappears .input {
  position: relative;
}
#label-shows-up-when-placeholder-disappears .input label {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 11px;
}
#label-shows-up-when-placeholder-disappears .input label.filled {
  opacity: 1;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  top: -3px;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
}
#label-shows-up-when-placeholder-disappears .input input {
  border: 0;
  border-bottom: 1px solid #bbbbbb;
  outline: none;
  margin: 10px 0px;
  font-size: 15px;
}
#label-shows-up-when-placeholder-disappears .input input:focus + label {
  color: blue;
}

#circle-menu #menu-container {
  position: relative;
  width: 150px;
  height: 150px;
  margin: auto;
}
#circle-menu #menu-container nav#menu {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  position: relative;
  width: 150px;
  height: 150px;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#circle-menu #menu-container nav#menu > * {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px;
}
#circle-menu #menu-container nav#menu > *:nth-of-type(1) {
  -webkit-transform: rotate(0deg) translate(75px) rotate(-0deg);
  -moz-transform: rotate(0deg) translate(75px) rotate(-0deg);
  -ms-transform: rotate(0deg) translate(75px) rotate(-0deg);
  -o-transform: rotate(0deg) translate(75px) rotate(-0deg);
  transform: rotate(0deg) translate(75px) rotate(-0deg);
}
#circle-menu #menu-container nav#menu > *:nth-of-type(2) {
  -webkit-transform: rotate(60deg) translate(75px) rotate(-60deg);
  -moz-transform: rotate(60deg) translate(75px) rotate(-60deg);
  -ms-transform: rotate(60deg) translate(75px) rotate(-60deg);
  -o-transform: rotate(60deg) translate(75px) rotate(-60deg);
  transform: rotate(60deg) translate(75px) rotate(-60deg);
}
#circle-menu #menu-container nav#menu > *:nth-of-type(3) {
  -webkit-transform: rotate(120deg) translate(75px) rotate(-120deg);
  -moz-transform: rotate(120deg) translate(75px) rotate(-120deg);
  -ms-transform: rotate(120deg) translate(75px) rotate(-120deg);
  -o-transform: rotate(120deg) translate(75px) rotate(-120deg);
  transform: rotate(120deg) translate(75px) rotate(-120deg);
}
#circle-menu #menu-container nav#menu > *:nth-of-type(4) {
  -webkit-transform: rotate(180deg) translate(75px) rotate(-180deg);
  -moz-transform: rotate(180deg) translate(75px) rotate(-180deg);
  -ms-transform: rotate(180deg) translate(75px) rotate(-180deg);
  -o-transform: rotate(180deg) translate(75px) rotate(-180deg);
  transform: rotate(180deg) translate(75px) rotate(-180deg);
}
#circle-menu #menu-container nav#menu > *:nth-of-type(5) {
  -webkit-transform: rotate(240deg) translate(75px) rotate(-240deg);
  -moz-transform: rotate(240deg) translate(75px) rotate(-240deg);
  -ms-transform: rotate(240deg) translate(75px) rotate(-240deg);
  -o-transform: rotate(240deg) translate(75px) rotate(-240deg);
  transform: rotate(240deg) translate(75px) rotate(-240deg);
}
#circle-menu #menu-container nav#menu > *:nth-of-type(6) {
  -webkit-transform: rotate(300deg) translate(75px) rotate(-300deg);
  -moz-transform: rotate(300deg) translate(75px) rotate(-300deg);
  -ms-transform: rotate(300deg) translate(75px) rotate(-300deg);
  -o-transform: rotate(300deg) translate(75px) rotate(-300deg);
  transform: rotate(300deg) translate(75px) rotate(-300deg);
}
#circle-menu #menu-container nav#menu > *:nth-of-type(7) {
  -webkit-transform: rotate(360deg) translate(75px) rotate(-360deg);
  -moz-transform: rotate(360deg) translate(75px) rotate(-360deg);
  -ms-transform: rotate(360deg) translate(75px) rotate(-360deg);
  -o-transform: rotate(360deg) translate(75px) rotate(-360deg);
  transform: rotate(360deg) translate(75px) rotate(-360deg);
}
#circle-menu #menu-container nav#menu.visible {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
#circle-menu #menu-container a, #circle-menu #menu-container button {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: orange;
  font-size: 20px;
  text-align: center;
}
#circle-menu #menu-container a i, #circle-menu #menu-container button i {
  line-height: 50px;
}
#circle-menu #menu-container a {
  color: #333333;
}
#circle-menu #menu-container a:hover {
  color: #4183c4;
}
#circle-menu #menu-container button {
  z-index: 100;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -25px;
  border: 0;
  cursor: pointer;
  color: #333333;
  outline: none;
}
#circle-menu #menu-container button:hover {
  color: #4183c4;
}

#percent-icon .container {
  height: 180px;
}
#percent-icon .separator {
  width: 190px;
  float: left;
}
#percent-icon .cool-percent-icon {
  position: relative;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background-color: #666666;
  margin: 20px;
}
#percent-icon .cool-percent-icon canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
#percent-icon .cool-percent-icon .icon {
  -webkit-box-shadow: #333333 0 0 5px, #888888 0 -1px 7px inset;
  -moz-box-shadow: #333333 0 0 5px, #888888 0 -1px 7px inset;
  box-shadow: #333333 0 0 5px, #888888 0 -1px 7px inset;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  background-color: white;
  text-align: center;
  z-index: 90;
}
#percent-icon .cool-percent-icon .icon i, #percent-icon .cool-percent-icon .icon span {
  line-height: 80px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 0;
  color: #aaaaaa;
}
#percent-icon .cool-percent-icon .icon i {
  font-size: 32px;
}
#percent-icon .cool-percent-icon .icon span {
  font-size: 22px;
}
#percent-icon .cool-percent-icon .outer-shadow {
  position: absolute;
  top: 0;
  bot: 0;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  -webkit-box-shadow: #333333 0 0 10px inset;
  -moz-box-shadow: #333333 0 0 10px inset;
  box-shadow: #333333 0 0 10px inset;
  z-index: 100;
}
#percent-icon .cool-percent-icon .moar-outter-shadow {
  position: absolute;
  top: -7px;
  left: -7px;
  height: 114px;
  width: 114px;
  -webkit-box-shadow: #999999 0px 6px 14px inset;
  -moz-box-shadow: #999999 0px 6px 14px inset;
  box-shadow: #999999 0px 6px 14px inset;
  -webkit-border-radius: 57px;
  -moz-border-radius: 57px;
  -ms-border-radius: 57px;
  -o-border-radius: 57px;
  border-radius: 57px;
  z-index: 95;
}

#threed_inventory {
  position: relative;
}
#threed_inventory #tips, #threed_inventory h1 {
  color: #444444;
  user-select: none;
  margin: 5px;
}
#threed_inventory .transform {
  width: 90px;
  height: 90px;
  background: rgba(25, 207, 251, 0.4);
  border: 3px solid #19cffb;
  color: #444444;
  cursor: move;
  position: absolute;
}
#threed_inventory .transform:nth-child(1) {
  top: 0;
  left: 0;
}
#threed_inventory .transform:nth-child(2) {
  top: 0;
  left: 105px;
}
#threed_inventory .transform:nth-child(3) {
  top: 0;
  left: 210px;
}
#threed_inventory .transform:nth-child(4) {
  top: 105px;
  left: 0;
}
#threed_inventory .transform:nth-child(5) {
  top: 105px;
  left: 105px;
}
#threed_inventory .transform:nth-child(6) {
  top: 105px;
  left: 210px;
}
#threed_inventory #css {
  background: #002a38;
  border: 1px solid #444444;
  color: #b98d00;
  padding: 10px;
}
#threed_inventory #css:before {
  content: "transform: ";
  color: #d33683;
}
