#percent-icon
  .container
    height: 180px
  .separator
    width: 190px
    float: left
  .cool-percent-icon
    position: relative
    width: 100px
    height: 100px
    +border-radius(50px)
    background-color: #666
    margin: 20px

    canvas
      position: absolute
      top: 0
      left: 0
      z-index: 10

    .icon
      +single-box-shadow
      +box-shadow(#333 0 0 5px, #888 0 -1px 7px inset)
      position: absolute
      top: 10px
      left: 10px
      width: 80px
      height: 80px
      +border-radius(40px)
      background-color: white
      text-align: center
      z-index: 90
      i, span
        line-height: 80px
        +text-shadow(rgba(0,0,0,0.5) 0 -1px 0)
        color: #aaa
        font-size: 22px

    .outer-shadow
      position: absolute
      top: 0
      bot: 0
      +border-radius(50px)
      width: 100px
      height: 100px
      +box-shadow(#333 0 0 10px inset)
      z-index: 100

  .moar-outter-shadow
    position: absolute
    top: -7px
    left: -7px
    height: 114px
    width: 114px
    +box-shadow(#999 0px 6px 14px inset)
    +border-radius(57px)
    z-index: 95

