#threed_inventory
  position: relative

  #tips, h1
    color: #444
    user-select: none
    margin: 5px
      
  .transform
    width: 90px
    height: 90px
    background: rgba(25, 207, 251, 0.4)
    border: 3px solid rgba(25, 207, 251, 1)
    color: #444
    cursor: move
    position: absolute
    &:nth-child(1)
      top: 0
      left: 0
    &:nth-child(2)
      top: 0
      left: 105px
    &:nth-child(3)
      top: 0
      left: 210px
    &:nth-child(4)
      top: 105px
      left: 0
    &:nth-child(5)
      top: 105px
      left: 105px
    &:nth-child(6)
      top: 105px
      left: 210px
      
  #css
    background: #002A38
    border: 1px solid #444
    color: #B98D00
    padding: 10px
    
    &:before
      content: 'transform: '
      color: #D33683
