@import "compass/reset"
@import "compass/utilities"
@import "compass/css3"

body
  font: 62.5% Arial, Helvetica, sans-serif
  background: #fff
  color: #0d0d0d
  padding: 50px

h1
  font-size: 3em
  font-weight: bold
  text-align: center
  color: orange

label
  opacity: 0
  position: absolute
  top: 3px
  left: 0px
  font-size: 9px


input
  outline: none
  margin: 10px 0px
  font-size: 14px
  &:focus + label
    color: blue
.input
  position: relative

.empty
  opacity: 0
  +transition-property(opacity)
  +transition-duration(0.3s)
  top: 3px
  +transition-property(top)

.filled
  opacity: 1
  +transition-property(opacity)
  +transition-duration(0.3s)
  top: -3px
  +transition-property(top)
