@import "compass/reset"
@import "compass/utilities"
@import "compass/css3"

$link-color: #4183c4

body
  font: 100% Arial, Helvetica, sans-serif
  background: #fff
  color: #0d0d0d
  padding: 50px

h1
  font-size: 3em
  font-weight: bold
  text-align: center
  color: orange
  margin: 30px 0

a
  color: $link-color
  text-decoration: none

p
  margin: 10px 0 15px 0

.snipet
  margin: 50px 0
  border: 1px solid #bbb
  padding: 15px
  +border-radius(3px)

  h3
    font-size: 1.3em
    font-weight: bold
    a
      margin-left: 15px

  h3 + p
    margin-top: 5px


  h4
    font-weight: bold

  .idea-from
    margin: 10px 0 20px 0
    font-size: 12px
    color: #333
    a
      font-weight: bold

  div.source-code, .references
    margin-top: 25px
    .code, ul
      display: none
      margin-top: 20px

  .references
    ul
      margin: 0
      li
        padding-left: 10px
      a
        font-size: 12px

  .demo
    position: relative
    margin: 15px 0
    padding-left: 35px

  h4, .description, .idea-from, .source-code, .references
    padding-left: 15px

@import "label_shows_up_when_placeholder_disappears"
@import 'circle_menu'
@import 'percent_icon'
@import 'threed_inventory'

