@import "compass/reset"
@import "compass/utilities"
@import "compass/css3"

$link-color: #4183c4

body
  font: 100% Arial, Helvetica, sans-serif
  background: #fff
  color: #0d0d0d
  padding: 50px

h1
  font-size: 3em
  font-weight: bold
  text-align: center
  color: orange
  margin: 30px 0

h3
  font-size: 1.3em
  font-weight: bold
  a
    margin-left: 15px

.snipet
  margin: 50px 0
  border: 1px solid #bbb
  padding: 15px
  +border-radius(3px)

a
  color: $link-color
  text-decoration: none

.idea-from
  margin: 10px 0 20px 0
  font-size: 12px
  color: #333
  a
    color: #4183c4
    font-weight: bold

p
  margin: 10px 0 15px 0

div.source-code
  margin-top: 25px
  a
    color: #4183c4
    font-weight: bold
  .code
    display: none
    width: 80%
    margin-top: 20px

@import "label_shows_up_when_placeholder_disappears"
@import 'circle_menu'
